@model Blog.Models.Blogs

@{
    ViewData["Title"] = "Delete";
}

<h1>削除</h1>

<h3>削除します。よろしいでしょうか？</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Updated_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Updated_date)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
